* {
    margin: 0;
    padding: 0;
  }

  .bg img{
    position: fixed;
    width: 100vw;
    z-index: -15;
    border-radius: 30px;
  }

  .titulo img{
      width: 100vw;
      position: fixed;
      z-index: -5;
      top: 10px;
  }

  .campo img{
    position: fixed;
    width: 100vw;
    left: 0vw;
    top: 220px;
    z-index: -10;
    
  }

.button{
        width: 250px;
        touch-action: none;
        user-select: none;
        position: fixed;
}

.row1{
    top: 150px;
}
.row2{
    top: 100px;
}
.row3{
    top: 50px;
}

.pos1{
    left: 300px;
}
.pos2{
    left: 500px;
}
.pos3{
    left: 700px;
}
.pos4{
    left: 900px;
}
.pos5{
    left: 1100px;
}
.pos6{
    left: 1300px;
}
.pos7{
    left: 1500px;
}
.pos8{
    left: 1700px;
}
.pos9{
    left: 1900px;
}
.pos10{
    left: 2100px;
}
.pos11{
    left: 2300px;
}
.pos12{
    left: 2500px;
}
.pos13{
    left: 2450px;
}