* {
    margin: 0;
    padding: 0;
  }

  .bg img{
    position: fixed;
    width: 100vw;
    z-index: -15;
    border-radius: 30px;
  }

  .titulo img{
      width: 100vw;
      position: fixed;
      z-index: -5;
      top: 10px;
  }

  .campo img{
    position: fixed;
    width: 100vw;
    left: 0vw;
    top: 220px;
    z-index: -10;
    
  }

.button{
        height: 72px;
        touch-action: none;
        user-select: none;
        position: fixed;
}

.row1{
    left: 200px;
}
.row2{
    right: 140px;
}

.pos1{
    top: 280px;
}
.pos2{
    top: 400px;
}
.pos3{
    top: 520px;
}
.pos4{
    top: 640px;
}
.pos5{
    top: 760px;
}
.pos6{
    top: 900px;
}
.pos7{
    top: 950px;
}
.pos8{
    top: 1000px;
}
.pos9{
    top: 1050px;
}
.pos10{
    top: 1100px;
}
.pos11{
    top: 1150px;
}
.pos12{
    top: 1200px;
}
.pos13{
    top: 1250px;
}