* {
    margin: 0;
    padding: 0;
  }

  .bg img{
    position: fixed;
    width: 100vw;
    z-index: -15;
    border-radius: 30px;
  }

  .titulo img{
      width: 100vw;
      position: fixed;
      z-index: -5;
      top: 10px;
      left: -20px;
  }

  .campo img{
    position: fixed;
    width: 100vw;
    left: 0vw;
    top: 220px;
    z-index: -10;
    
  }

.button{
        width: 160px;
        touch-action: none;
        user-select: none;
        position: fixed;
}

:root {
	--move: 110px;
    --incr: 90px;
   }
/* I've multiplied positions by increment rather than hard-coded, to see if I can solve any issues related to size vs positioning. Backup exists at the end */
.row1{
    top: 540px;
}
.row2{
    top: 130px;
}

.row3{
    top: 230px;
}

.pos1{
	left: calc(0px + var(--move));
}
.pos2{
    left: calc(1 * var(--incr)   + var(--move));
}
.pos3{
	left: calc(2 * var(--incr) + var(--move));
}
.pos4{
    left: calc(3 * var(--incr) + var(--move));
}
.pos5{
    left: calc(4 * var(--incr) + var(--move));
}
.pos6{
    left: calc(5 * var(--incr) + var(--move));
}
.pos7{
    left: calc(6 * var(--incr) + var(--move));
}
.pos8{
    left: calc(7 * var(--incr) + var(--move));
}
.pos9{
    left: calc(8 * var(--incr) + var(--move));
}
.pos10{
    left: calc(9 * var(--incr) + var(--move));
}
.pos11{
    left: calc(10 * var(--incr) + var(--move));
}
.pos12{
    left: calc(11 * var(--incr) + var(--move));
}
.pos13{
    left: calc(12 * var(--incr) + var(--move));
}
/* BACKUP FOR PREVIOUS POSITIONS. OUTCOME IS THE SAME AS LONG AS --MOVE IS 600px; AND --INCR IS 60px*/
/*.pos1{
	left: calc(0px + var(--move));
}
.pos2{
    left: calc(60px + var(--move));
}
.pos3{
	left: calc(120px + var(--move));
}
.pos4{
    left: calc(180px + var(--move));
}
.pos5{
    left: calc(240px + var(--move));
}
.pos6{
    left: calc(300px + var(--move));
}
.pos7{
    left: calc(360px + var(--move));
}
.pos8{
    left: calc(420px + var(--move));
}
.pos9{
    left: calc(480px + var(--move));
}
.pos10{
    left: calc(540px + var(--move));
}
.pos11{
    left: calc(600px + var(--move));
}
.pos12{
    left: calc(660px + var(--move));
}
.pos13{
    left: calc(720px + var(--move));
}*/