* {
    margin: 0;
    padding: 0;
  }

  .bg video{
    position: fixed;
    width: 100vw;
    z-index: -15;
    border-radius: 30px;
  }

  .titulo img{
      width: 60vw;
      position: fixed;
      z-index: -5;
      top: 10px;
  }

  .campo img{
    position: fixed;
    width: 100vw;
    left: 0vw;
    top: 220px;
    z-index: -10;
    
  }

.button{
        height:50px;
        touch-action: none;
        user-select: none;
        position: fixed;
}

.row1{
    top: 275px;
}
.row2{
    top: 375px;
}
.row3{
    top: 475px;
}
.row4{
    top: 570px;
}
.row5{
    left: 540px;
}
.row6{
    left: 690px;
}
.row7{
    left: 840px;
}
.row8{
    left: 990px;
}
.row9{
    left: 1140px;
}

.pos1{
    left: 180px;
}
.pos2{
    left: 295px;
}
.pos3{
    left: 1050px;
}
.pos4{
    left: 1173px;
}
.pos5{
    left: 1030px;
}
.pos6{
    top: 180px;
}
.pos7{
    top: 350px;
}
.pos8{
    top: 1000px;
}
.pos9{
    top: 1050px;
}
.pos10{
    top: 1100px;
}
.pos11{
    top: 1150px;
}
.pos12{
    top: 1200px;
}
.pos13{
    top: 1250px;
}