* {
    margin: 0;
    padding: 0;
  }

  .bg img{
    position: fixed;
    width: 100vw;
    z-index: -15;
    border-radius: 30px;
  }

  .titulo img{
      width: 100vw;
      position: fixed;
      z-index: -5;
      top: 10px;
  }

  .campo img{
    position: fixed;
    width: 100vw;
    left: 0vw;
    top: 220px;
    z-index: -10;
    
  }

.button{
        height: 170px;
        touch-action: none;
        user-select: none;
        position: fixed;
}

.row1{
    left: 1210px;
}
.row2{
    left: 130px;
}

.row3{
    left: 250px;


}
.pos1{
    top: 10px;
}

.pos2{
    top: 130px;
}
.pos3{
    top: 250px;
}
.pos4{
    top: 370px;
}
.pos5{
    top: 490px;
}
.pos6{
    top: 610px;
}
.pos7{
    top: 730px;
}
.pos8{
    top: 1000px;
}
.pos9{
    top: 1050px;
}
.pos10{
    top: 1100px;
}
.pos11{
    top: 1150px;
}
.pos12{
    top: 1200px;
}
.pos13{
    top: 1250px;
}